.countryMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 12px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
    flex-grow: 1;
}