.countryMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 12px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
    flex-grow: 1;
}

.countryListFlex{
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.countryCardHolder{
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 70px
}