@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.countryPage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-style: solid;
    border-color: black;
    height: 594px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.middleSectionCountries{
display: flex;
flex-flow: row nowrap;
height: 164px;
width: 100%;
justify-content: flex-start;
align-items: center;
margin-bottom: 6px;
}

.backButton{
    display: flex;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    height: 40px;
    width: 140px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.backButton img{
    height: 50%;
    margin-right: 15px;
}

.countryBoxes{
    display: flex;
    flex-flow: row nowrap;
    border-style: solid;
    width: 100%; 
    height: 70%;
}

.leftBox{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.leftBox img{
    height: 100%;
}

.rightBox{
    border-style: solid;
    width: 50%;
    height: 100%;
}   