.countryPage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    height: 60%;
    width: 100%;
}

.leftBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    height: 100%;
    width: 50%;
}

.leftBox img{
    height: 400px;
    width: 560px;
    margin-right: 44px;
}

.rightBox{
    height: 100%;
    width: 50%;
    border-style: solid;
}