@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.searchBarMain{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    height: 50px;
    padding-left: 25px;
    border-radius: 3px;
}

.searchBarMain img{
    aspect-ratio: 1/1;
    height: 47%;
    margin-right: 20px;
}

.searchBarMain input{
    width: 410px;
    border-style: none;
    outline: none;
    color: hsl(0, 0%, 52%);
}

.searchBarMain input::placeholder{
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.06em;
}

.lightText::placeholder{
    color: hsl(0, 0%, 52%);
}

.darkText::placeholder{
    color: hsl(0, 0%, 100%);
}

.middleSection{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    padding-left: 80px;
  }