header{
    background-color: white;
    padding: 4px;
    padding-left: 78px;
    padding-right: 72px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }