header{
    background-color: white;
    padding: 4px;
    padding-left: 78px;
    padding-right: 72px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width:764px){
    header{
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
    header h2{
      font-size: 15px;
    }

  }