@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body{
  margin: 0;
  padding: 0;
  display: flex;
}

.App{
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  flex: 2 0 auto
}

h2{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  color: hsl(200, 15%, 8%);
}

.colorThemeSwitch{
  height: 20px;
  background: transparent;
  border-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}